body{
	text-align: center;
	background-color: rgb(217, 233, 225);
	color: rgb(10, 54, 40);
}
.controls {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-around;
}

.country .category {
	width: 50%;
	margin-left: auto;
	left: auto;
	right: auto;
}

select {
	background-color: rgba(255,255,255,0.9);
	width: 100%;
	padding: 5px;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	height: 3rem;
}
.select-box{
	width: 48%;
}

button {
	background-color: rgba(255,255,255,0.9);
	width: 10%;
	padding: 5px;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	height: 3rem;
}
h1{
text-transform: uppercase;
}